.main {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 90%;
    margin: 2px auto;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
/* Left */
.logoContainer {
    width: 40px;
    height: 40px;
}
.logo {
    width: 100%;
}
/* Middle */
/* .menuContainer {

} */
.menuItemContainer {
    font-size: 16px;
    color: rgb(77, 77, 77);
    display: block;
    margin-right: 60px;
}
.menuItem {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}
.menuItem:hover {
    border-bottom: 2px solid #0088ff;
}
/* Right */
.menuIconContainer {
    display: none;
    width: 30px;
    height: 30px;
}
@media (max-width: 650px) {
    .menuIconContainer {
        display: block;
    }
    .menuItemContainer {
        display: none;
    }
}

/* Container */
.container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    margin: 30px auto;
}
.Left {
    width: 50%;
}
.innerLeft {
    width: 60%;
}
.blockElement {
    display: block;
    margin: 10px 0;
}
.inputs {
    width: 100%;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 12px;
    height: 30px;
    outline-color: #0088ff;
    padding: 1px 8px;
    font-size: 12px;
}
.signInput {
    width: 90px;
    height: 36px;
    color: white;
    background-color: #0088ff;
    border: none;
    border-radius: 24px;
    margin: 20px 0;
    font-size: 16px;
}
.keepSignIn {
    margin: 20px 1px;
}
.appStoreIcon {
    width: 130px;
    height: 80px;
    margin: 20px 0;
}
.Right {
    width: 50%;
}
@media (max-width: 675px) {
    .Left {
        width: 100%;
        margin-bottom: 50px;
    }
    .Right {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .rightImage {
        margin: 0 -50%;
    }
    .innerLeft {
        width: 60%;
        margin: 0 auto;
    }
}

/* Footer */
.footer {
    margin: 30px 10px;
}
.footerText {
    font-size: 24px;
    text-align: center;
}

/* Test */
.Test {
    background-color: lightgreen;
    padding: 0 25%;
    text-align: center;
}
.Test2 {
    background-color: lightblue;
}
.testInner {
    background-color: blue;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}