html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4f4;
}
.column {
    width: 300px;
    margin: 10px;
}
/* ----- */
.fs12 {
    font-size: 12px;
}
.fs13 {
    font-size: 13px;
}
.op8 {
    opacity: 0.8;
}
.divider {
    height: 1px;
    background-color: lightgray;
    margin: 10px 0;
}
.hide-dotted-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ----- */
/* column 1 */
.box {
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 20px;
}
.boxTitle {
    font-size: 16px;
    margin-bottom: 12px;
}
.thumbnailContainer {
    /* border: 1px solid black; */
    height: 110px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 16px;
}
.thumbnail {
    width: 100%;
    height: 100%;
    /* margin-top: 32px; */
}
.performance {
    margin-bottom: 10px;
}
.statContainer {
    margin-bottom: 10px;
}
.stat {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    /* height: 20px; */
}
.fs-arrow {
    font-size: 13px;
    margin-left: 5px;
}
.arrow-cg {
    color: green;
}
.link {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0;
    
}
.comment {
    margin-top: 13px;
}
/*  */
.CommentContainer {
    display: flex;
    justify-content: space-between;
}
.userIconInfoContainer {
    display: flex;
}
.userIcon {
    font-size: 20px;
    margin-right: 10px;
}
/* .userInfo {

} */
.userName {
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userComment {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.commentThumbnailContainer {
    overflow: hidden;
    width: 60px;
    height: 30px;
}
.commentThumbnail {
    width: 100%;
    height: 100%;
}
/* column 2 */
.secondColumnTitle {
    display: flex;
    justify-content: space-between;
}

.thumbnail2Container {
    /* background-color: rgb(82, 147, 244, 0.3); */
    height: 95px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 16px;
}
.thumbnail2 {
    width: 100%;
    height: 100%;
}
.newCreator {
    font-weight: bold;
    margin-bottom: 10px;
}
.learn {
    margin-bottom: 10px;
}
/*  */
.specialBox {
    border-bottom-left-radius: 0;
    border-bottom-Right-radius: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.shine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cameraAngles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.cameraAnglesLeft {
    width: 200px;
    font-size: 14px;
}
.cameraAnglesRight {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.boxBottom {
    border-top-right-radius: 0;
    border-top-Left-radius: 0;
    border-top: 1px solid lightgray;
    text-align: center;
}
/* column 3 */
.subscriberCount {
    font-size: 34px;
}
.subscriberIncrease {
    color: green;
}
.summary {
    font-weight: bold;
    margin-bottom: 10px;
}
.subscriberStat {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.topVideoContainer {
    margin: 10px 0;
}
.topVideos {
    font-weight: bold;
    margin-bottom: 5px;
}
.playlist {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.video {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video:hover {
    color: blue;
}
.recentSubContainer {
    display: flex;
    margin: 16px 0;
}
.recentSubIcon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}