html, body {
    padding: 0;
    margin: 0;
}
.main {
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid lightgray;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    opacity: 0.96;
}
.menuIcon {
    width: 40px;
    height: 40px;
}
.Icon {
    width: 100%;
}
.menuItem {
    display: block;
}
.items {
    text-decoration: none;
    color: inherit;
    margin-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.items:hover {
    border-bottom: 3px solid #0A7CFF;
}
.hidden {
    display: none;
}
@media (max-width: 550px) {
    .hidden {
        display: block;
        width: 32px;
        height: 32px;
    }
    .menuItem {
        display: none;
    }
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 120px;
}
.Left {
    width: 50%;
}
.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 68px;
    color: #6651FF;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #595959;
    margin-bottom: 40px;
}
.inputSection {
    margin: 24px 0;
}
.blockInput {
    display: block;
}
.inputs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    width: 60%;
    height: 30px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    outline-color: #4D4DFF;
    padding: 2px 16px;
    opacity: 0.7;
}
.logIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 60px;
}
.logInButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #0A7CFF;
    border: none;
    border-radius: 24px;
    width: 30%;
    height: 40px;
    padding: 2px 5px;
}
.forgetPass {
    color: #0A7CFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.checkBox {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
}
.checkboxbutton {
    margin-right: 10px;
}
.keepSignIn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.AppStore {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 60px;
}
.storeIcon {
    width: 120px;
}
.Right {
    width: 50%;
}
.RightImage {
    width: 100%;
}
@media (max-width: 680px) {
    .Left {
        width: 100%;
    }
    .LeftInner {
        width: 90%;
        margin: 0 auto;
    }
    .Right {
        width: 100%;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.footleft {
    width: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}
.footmiddle {
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 16px;
}
.footerMenu {
    display: none;
}
.footright {
    width: 15%;
}
@media (max-width: 680px) {
    .footerMenu {
        display: block;
        width: 30px;
        height: 30px;
    }
    .footmiddle {
        display: none;
    }
}